* {
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    color: #0033a0;
}

h1 {
    color: #da291c;
}
.uploadForm {
    margin: 20px 10px;
}

.images-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-card {
    overflow: hidden;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
input {
    margin-right: 10px;
    border-color: #0033a0;
}

footer {
    font-size: 10px;
}

.img-card :hover,
button:hover {
    cursor: pointer;
}
