* {
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    color: #0033a0;
}

h1 {
    color: #da291c;
}
button {
    background-color: #da291c;
    color: white;
    border-radius: 1px;
    padding: 5px 10px;
    border: none;
}
.uploadForm {
    margin: 20px 10px;
}

.images-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-card {
    overflow: hidden;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
}
.img-small {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.img-big {
    max-width: 600px;
    max-height: 450px;
    object-fit: cover;
}
input {
    margin-right: 10px;
    border-color: #0033a0;
}

footer {
    font-size: 10px;
}

.img-card :hover,
button:hover {
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 30px;
}

.modal {
    background-color: white;
    z-index: 3;
    width: 80%px;
    color: black;
    padding: 10px 30px;
    border-radius: 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}
body.modal-open {
    overflow: hidden;
}
